.contact-content-con {
  display: flex;
  padding: 2.5rem 12rem 2.5rem 7rem;

  .left-contact {
    margin-right: 1rem;
    flex: 2;

    h3 {
      margin-top: 1rem;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    p {
      margin: 1rem 0;
      line-height: 2rem;
    }

    .contact-info {
      .contact-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          margin: 0.3rem 0 !important;
          padding: 0 !important;
          font-size: 0.8rem;
        }

        .icon {
          display: grid;
          grid-template-columns: 40px 1fr;
          font-size: 0.8rem;

          i {
            display: flex;
            align-items: center;
            font-size: 1rem;
          }
        }
      }
    }
  }

  .right-contact {
    flex: 3;
    margin-left: 3rem;

    .input-control {
      margin: 1.5rem 0;

      input,
      textarea {
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: 0.8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-grey-5);
        width: 100%;
        color: var(--color-white);
        resize: none;
      }
    }

    .i-c-2 {
      display: flex;

      :last-child {
        margin-left: 1.5rem;
      }
    }

    .submit-btn {
      display: flex;
      justify-content: flex-start;
    }
  }
}
